[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-msdos-program;application/x-ms-dos-executable;
Actions=CreateLauncher;
X-KDE-Priority=TopLevel
Icon=wine

[Desktop Action CreateLauncher]
Name=Wine Launcher Creator
Icon=wine
Exec=wlcreator.py %u
